
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
{% load static %}
{% load chunks_filters %}

<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Sort</option>
            <option>Sort By Price</option>
            <option>Sort By Popularity</option>
            <option>Sort By Rating</option>
            <option>Sort By Sale</option>
        </select>
    </div>
    
    {% for product_chunks in products|chunks:4 %}
    <div class="row">
        {% for product in product_chunks %}
        <div class="col-3">
            <a href="{% url 'detail_product' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
            </a>
            <h4>{{ product.title }}</h4>
            <p>${{ product.price }}</p>
            <p>{{ product.description }}</p> <!-- Removed the dollar sign before description -->

        </div>
        {% endfor %}
        {% if forloop.last and forloop.parentloop.counter < forloop.parentloop.counter1 %}
            <!-- If it's the last iteration and the number of iterations in the parent loop is less than the next parent loop iteration -->
            {% for i in product_chunks|length|add:1 %}


                <!-- Add empty columns to fill the row -->
                <div class="col-3"></div>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    
    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>→</span>
    </div>
</div>
</body>
</html>
